body {
  background: #fff;
  font-size: 1.1rem;
  border: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.9rem 1rem 0;
  text-align: center;
}

.problemTitle {
  width: 100%;
  max-width: 20rem;
  font-size: 1.3rem;
  padding: 0.75rem 1rem 0;
  text-align: center;
  word-wrap: normal;
}

.timers {
  width: 100%;
  padding: 0.5rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

button {
  margin: 1rem 0 0;
  padding: 0.6rem 1.3rem;
  cursor: pointer;
  border-radius: 0.25rem;
  background: #374850;
  color: #e8e6e3;
  border: none;
}

button:hover {
  background: #475961;
}

.easy {
  color: #6abf6e;
}

.medium {
  color: #e07823;
}

.hard {
  color: #e73270
}

@media (prefers-color-scheme: dark) {
  body {
    background: #181a1b;
    color: #cac6bf;
    border: #000;
  }

  .header {
    color: #fff;
  }
}