body {
  background: #fff;
  font-size: 1.1rem;
  border: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #181a1b;
    color: #cac6bf;
    border: #000;
  }

  .header {
    color: #fff;
  }

  button {
    background: #374850;
    color: #e8e6e3;
    border: none;
  }

  button:hover {
    background: #405159;
  }
}

.header {
  width: 100%;
  font-size: 1.5rem;
  padding: 14px 26px 0;
  text-align: center;
}

.problemTitle {
  width: 100%;
  font-size: 1.3rem;
  padding: 14px 26px 0;
  text-align: center;
}

.timers {
  width: 100%;
  padding: 14px 26px;
  text-align: center;
}

.buttonGroup {
  margin: 10px 0 0;
  text-align: center;
}

button {
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}

.buttonText {
  position: relative;
  margin-left: 28px
}

.easy {
  color: #6abf6e;
}

.medium {
  color: #e07823;
}

.hard {
  color: #e73270
}